* {    
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/*Barra de navegación TODOS*/
.barraNav li {
    float: right;
}
ul.barraNav {    
    list-style-type: none;
    font-weight: bold;
    margin: 0;
    padding: 0;
    overflow: hidden;    
    background-color: rgb(131, 134, 134);
} 
.barraNav li a.elegido {
    background-color: rgb(0, 0, 0);
    color: rgb(231, 32, 32);
}
.barraNav li a {
    display:block;
    color: rgb(0, 0, 0);
    text-align: left;
    text-indent: 5%;
    padding-top: 15px;
    border-left: 1px solid rgb(0, 0, 0);
    width: 120px;
    height: 30px;
    text-decoration: none;
    background-color: rgb(83, 83, 83);

    transition: width 500ms, color 900ms;
}
.barraNav li a:hover {
    width: 190px;    
    background-color: rgb(0, 0, 0);
    color:rgb(255, 255, 255);   
}

/*Footer*/
footer div {              
    font-size: 20px;
    text-align: center;
    padding-top: 20px;
    color:rgb(109, 108, 108);
    background-color: rgba(131, 134, 134,0.1);
    height: 40px;
}
footer a, .telefono, .pabloP {
    text-decoration: none;    
    color:rgb(151, 149, 149);
    background-color: transparent;
}