* {
    background-color: black;
}

/*Imagen portada Home*/
div.cTitulo {    
    display:flex;     
    height: 1000px;        
}
h1#nombre {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color:rgb(255, 255, 255);
    position: absolute;
    text-align:center;    
    font-size: 110px;
    top: 25%;
    left: 60px;
}
#imgPablo {      
    margin-top: 50px;
    opacity:0.2;    
    height: 90%;
    transition: opacity 900ms;    
}
#imgPablo:hover {
    opacity:0.7;    
}

/*Lateral Home*/
div.testAside {    
    margin-top: 60%;
    padding-right: 20%;
    text-align: right;    
    right:15px;    
    font-size: 20px;
    font-style: italic;
    color:rgb(70, 69, 69); 
}
div.testAside .pp, p:last-child {
    color: rgb(180, 41, 6);
}

/*Footer*/
footer div {              
    font-size: 20px;
    text-align: center;
    padding-top: 20px;
    color:rgb(109, 108, 108);
    background-color: rgba(131, 134, 134,0.1);
    height: 40px;
}
footer a, .telefono, .pabloP {
    text-decoration: none;    
    color:rgb(151, 149, 149);
    background-color: transparent;
}