img.clint {    
    border-radius: 50px;    
    right: 5%;
}

.contactForm {
    display:flex;
    flex-flow: row;
    justify-content: center;
    flex-wrap: wrap;
    border: 2px solid;
    background-color: rgb(189, 187, 187);
    border-radius: 20px;
    column-gap: 15px;
    margin: 5%;
    height: 350px;    
    max-width: 1000px;    
}

label {
    color:rgb(255, 42, 42);
}

.contactForm > div {
    margin-top: 15px;
    width: 40%;
    padding-top: 15px;
    padding-left: 10px;
    height: 80px;
    background-color: rgb(0, 0, 0);
    border-radius: 10px;
}

.contactForm .inputs {    
    margin-top: 5px;
    width: 90%;
    margin-bottom: 20px;    
    padding: 10px;  
    border-style: hidden;  
    border-radius: 5px;     
}

.contenedorTexto {
    box-sizing: content-box;
}

#texto {
    height: 20px;
}

input[type="submit"] {
    color:rgb(255, 255, 255);
    background-color: rgb(71, 68, 68);    
    border-radius: 5px;
    border-style: none;
    
    width: 250px;       
    font-size: 2em;
    height: 70px;    
}

div.boton {    
    width: 20%;
    background-color: transparent;    
}